.bg-img-container {
    background-image: url(../../images/banner/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgb(13 13 16 / 60%);
}

.inner-content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateY(-40%);
    transform: translateX(-50%);
}